CONFLUENCE_DATA_DIR: /Users/darrieythorsson/compHydro/code/CONFLUENCE_data
CONFLUENCE_CODE_DIR: /Users/darrieythorsson/compHydro/code/CONFLUENCE
DOMAIN_NAME: Bow_at_Banff
EXPERIMENT_ID: run_1
EXPERIMENT_TIME_START: 1980-01-02 01:00
EXPERIMENT_TIME_END: 2023-12-30 23:00
CALIBRATION_PERIOD: 1982-01-01, 1990-12-30
EVALUATION_PERIOD: 2012-01-01, 2023-12-30
SPINUP_PERIOD: 1980-01-02, 1981-12-31
MPI_PROCESSES: 1
FORCE_RUN_ALL_STEPS: false
LOG_LEVEL: INFO
LOG_TO_FILE: true
LOG_FORMAT: detailed
POUR_POINT_COORDS: 51.1722/-115.5717
BOUNDING_BOX_COORDS: 51.76/-116.55/50.95/-115.5
DOMAIN_DEFINITION_METHOD: lumped
ROUTING_DELINEATION: lumped
GEOFABRIC_TYPE: na
DELINEATION_METHOD: slope_area
CURVATURE_THRESHOLD: 0.0
MIN_SOURCE_THRESHOLD: 100
STREAM_THRESHOLD: 5000
SLOPE_AREA_THRESHOLD: 100.0
SLOPE_AREA_EXPONENT: 2.0
AREA_EXPONENT: 1.0
MULTI_SCALE_THRESHOLDS: 10000,5000,2500,1000,500
USE_DROP_ANALYSIS: true
DROP_ANALYSIS_MIN_THRESHOLD: 100
DROP_ANALYSIS_MAX_THRESHOLD: 10000
DROP_ANALYSIS_NUM_THRESHOLDS: 10
DROP_ANALYSIS_LOG_SPACING: true
LUMPED_WATERSHED_METHOD: TauDEM
CLEANUP_INTERMEDIATE_FILES: false
DELINEATE_COASTAL_WATERSHEDS: false
DELINEATE_BY_POURPOINT: true
MOVE_OUTLETS_MAX_DISTANCE: 200
MIN_GRU_SIZE: 0
DOMAIN_DISCRETIZATION: GRUs
ELEVATION_BAND_SIZE: 200
MIN_HRU_SIZE: 4
RADIATION_CLASS_NUMBER: 5
ASPECT_CLASS_NUMBER: 8
ASPECT_PATH: default
FORCING_DATASET: ERA5
FORCING_VARIABLES: default
FORCING_MEASUREMENT_HEIGHT: 2
FORCING_TIME_STEP_SIZE: 3600
APPLY_LAPSE_RATE: true
LAPSE_RATE: 0.0065
FORCING_SHAPE_LAT_NAME: lat
FORCING_SHAPE_LON_NAME: lon
PET_METHOD: oudin
SUPPLEMENT_FORCING: false
EM_EARTH_PRCP_DIR: /path/to/EM-EARTH/prcp/data
EM_EARTH_TMEAN_DIR: /path/to/EM-EARTH/tmean/data
EM_EARTH_MIN_BBOX_SIZE: 0.1
EM_EARTH_MAX_EXPANSION: 0.2
EM_PRCP: prcp
HYDROLOGICAL_MODEL: SUMMA
ROUTING_MODEL: mizuRoute
SUMMA_EXE: summa_sundials.exe
SETTINGS_SUMMA_CONNECT_HRUS: true
SETTINGS_SUMMA_TRIALPARAM_N: 0
SETTINGS_SUMMA_TRIALPARAM_1: null
SETTINGS_SUMMA_USE_PARALLEL_SUMMA: false
SETTINGS_SUMMA_CPUS_PER_TASK: 32
SETTINGS_SUMMA_TIME_LIMIT: 01:00:00
SETTINGS_SUMMA_MEM: 5
SETTINGS_SUMMA_GRU_COUNT: 85
SETTINGS_SUMMA_GRU_PER_JOB: 5
SETTINGS_SUMMA_PARALLEL_PATH: default
SETTINGS_SUMMA_PARALLEL_EXE: summa_actors.exe
PARAMS_TO_CALIBRATE: tempCritRain,k_soil,vGn_n,theta_sat
BASIN_PARAMS_TO_CALIBRATE: routingGammaScale
SUMMA_DECISION_OPTIONS:
  snowIncept:
  - lightSnow
  compaction:
  - anderson
  snowLayers:
  - CLM_2010
  alb_method:
  - conDecay
  thCondSnow:
  - smnv2000
  - jrdn1991
  vegeParTbl:
  - MODIFIED_IGBP_MODIS_NOAH
  soilStress:
  - NoahType
  stomResist:
  - BallBerry
  LAI_method:
  - monTable
  veg_traits:
  - Raupach_BLM1994
  canopyEmis:
  - difTrans
  windPrfile:
  - logBelowCanopy
  canopySrad:
  - BeersLaw
  soilCatTbl:
  - ROSETTA
  f_Richards:
  - mixdform
  groundwatr:
  - bigBuckt
  hc_profile:
  - constant
  bcLowrSoiH:
  - drainage
  thCondSoil:
  - funcSoilWet
  spatial_gw:
  - localColumn
  subRouting:
  - timeDlay
  num_method:
  - itertive
  fDerivMeth:
  - analytic
  bcUpprTdyn:
  - nrg_flux
  bcLowrTdyn:
  - zeroFlux
  bcUpprSoiH:
  - liq_flux
  astability:
  - louisinv
CALIBRATE_DEPTH: false
DEPTH_TOTAL_MULT_BOUNDS:
- 0.1
- 5.0
DEPTH_SHAPE_FACTOR_BOUNDS:
- 0.1
- 3.0
FUSE_INSTALL_PATH: default
FUSE_EXE: fuse.exe
FUSE_ROUTING_INTEGRATION: mizuRoute
SETTINGS_FUSE_PATH: default
SETTINGS_FUSE_FILEMANAGER: default
FUSE_SPATIAL_MODE: distributed
EXPERIMENT_OUTPUT_FUSE: default
SETTINGS_FUSE_PARAMS_TO_CALIBRATE: MAXWATR_1,MAXWATR_2,BASERTE,QB_POWR,TIMEDELAY,PERCRTE,FRACTEN,RTFRAC1,MBASE,MFMAX,MFMIN,PXTEMP,LAPSE
FUSE_DECISION_OPTIONS:
  RFERR:
  - additive_e
  - multiplc_e
  ARCH1:
  - tension1_1
  - tension2_1
  - onestate_1
  ARCH2:
  - tens2pll_2
  - unlimfrc_2
  - unlimpow_2
  - fixedsiz_2
  QSURF:
  - arno_x_vic
  - prms_varnt
  - tmdl_param
  QPERC:
  - perc_f2sat
  - perc_w2sat
  - perc_lower
  ESOIL:
  - sequential
  - rootweight
  QINTF:
  - intflwnone
  - intflwsome
  Q_TDH:
  - rout_gamma
  - no_routing
  SNOWM:
  - temp_index
  - no_snowmod
SETTINGS_GR_PATH: default
SETTINGS_GR_CONTROL: default
GR_INSTALL_PATH: default
GR_EXE: GR.r
GR_spatial: lumped
GR_SPATIAL_MODE: distributed
GR_ROUTING_INTEGRATION: mizuRoute
FLASH_LOAD: false
FLASH_HIDDEN_SIZE: 128
FLASH_NUM_LAYERS: 3
FLASH_EPOCHS: 300
FLASH_BATCH_SIZE: 64
FLASH_LEARNING_RATE: 0.001
FLASH_LEARNING_PATIENCE: 30
FLASH_LOOKBACK: 700
FLASH_DROPOUT: 0.2
FLASH_L2_REGULARIZATION: 1e-6
FLASH_USE_ATTENTION: true
FLASH_USE_SNOW: false
SETTINGS_MIZU_WITHIN_BASIN: 0
SETTINGS_MIZU_ROUTING_DT: 86400
SETTINGS_MIZU_ROUTING_UNITS: mm/d
SETTINGS_MIZU_ROUTING_VAR: q_routed
SETTINGS_MIZU_OUTPUT_FREQ: single
SETTINGS_MIZU_OUTPUT_VARS: 1
SETTINGS_MIZU_MAKE_OUTLET: n/a
SETTINGS_MIZU_NEEDS_REMAP: false
NGEN_INSTALL_PATH: default
NGEN_EXE: ngen
NGEN_BMI_MODULES:
  CFE:
    bmi_type: bmi_c
    library_file: ./extern/cfe/cmake_build/libcfebmi.so
    init_config: ./ngen_data/bmi_configs/cfe_config.json
    main_output_variable: Q_OUT
NGEN_MODULES_TO_CALIBRATE: CFE,NOAH,PET
NGEN_CFE_PARAMS_TO_CALIBRATE: smcmax,satdk,bb,slop
NGEN_NOAH_PARAMS_TO_CALIBRATE: rain_snow_thresh,ZREF,noah_refdk,noah_refkdt,noah_czil,noah_z0,noah_frzk,noah_salp
NGEN_PET_PARAMS_TO_CALIBRATE: pet_albedo,pet_z0_mom,pet_z0_heat,pet_veg_h,pet_d0
NGEN_ACTIVE_CATCHMENT_ID: cat-1
SETTINGS_MIZU_PATH: default
INSTALL_PATH_MIZUROUTE: default
EXE_NAME_MIZUROUTE: mizuRoute.exe
SETTINGS_MIZU_TOPOLOGY: topology.nc
SETTINGS_MIZU_PARAMETERS: param.nml.default
SETTINGS_MIZU_CONTROL_FILE: mizuroute.control
SETTINGS_MIZU_REMAP: routing_remap.nc
EVALUATION_DATA:
- streamflow
ANALYSES:
- benchmarking
- attributes
SIM_REACH_ID: 123
STREAMFLOW_DATA_PROVIDER: WSC
DOWNLOAD_USGS_DATA: false
DOWNLOAD_WSC_DATA: true
STATION_ID: 05BB001
DOWNLOAD_SNOTEL: false
SNOTEL_STATION: null
SNOTEL_PATH: /path/to/data/geospatial-data/SNOTEL
DOWNLOAD_FLUXNET: false
FLUXNET_STATION: null
FLUXNET_PATH: /path/to/data/data/geospatial-data/fluxnet
DOWNLOAD_USGS_GW: false
USGS_STATION: 1674432
DOWNLOAD_SMAP: false
SMAP_PRODUCT: SPL4SMGP
SMAP_PATH: default
DOWNLOAD_GRACE: false
GRACE_PRODUCT: RL06
GRACE_PATH: default
DOWNLOAD_MODIS_SNOW: false
MODIS_SNOW_PRODUCT: MOD10A1.006
MODIS_SNOW_PATH: default
ATTRIBUTES_DATA_DIR: default
ATTRIBUTES_SOILGRIDS_PATH: default
ATTRIBUTES_PELLETIER_PATH: default
ATTRIBUTES_MERIT_PATH: default
ATTRIBUTES_MODIS_PATH: default
ATTRIBUTES_GLCLU_PATH: default
ATTRIBUTES_FOREST_HEIGHT_PATH: default
ATTRIBUTES_WORLDCLIM_PATH: default
ATTRIBUTES_GLIM_PATH: default
ATTRIBUTES_GROUNDWATER_PATH: default
ATTRIBUTES_STREAMFLOW_PATH: default
HRU_GAUGE_MAPPING: {}
ATTRIBUTES_GLWD_PATH: default
ATTRIBUTES_HYDROLAKES_PATH: default
ATTRIBUTES_OUTPUT_DIR: default
OPTIMISATION_METHODS:
- iteration
CALIBRATION_TIMESTEP: hourly
ITERATIVE_OPTIMIZATION_ALGORITHM: DE
NUMBER_OF_ITERATIONS: 5000
POPULATION_SIZE: 30
OPTIMIZATION_METRIC: KGE
TARGET_METRIC: KGE
DE_SCALING_FACTOR: 0.5
DE_CROSSOVER_RATE: 0.9
DDS_R: 0.4
ASYNC_DDS_POOL_SIZE: 10
ASYNC_DDS_BATCH_SIZE: 10
MAX_STAGNATION_BATCHES: 10
NUMBER_OF_COMPLEXES: 2
POINTS_PER_SUBCOMPLEX: 5
NUMBER_OF_EVOLUTION_STEPS: 20
EVOLUTION_STAGNATION: 5
PERCENT_CHANGE_THRESHOLD: 0.01
SWRMSIZE: 20
PSO_COGNITIVE_PARAM: 1.5
PSO_SOCIAL_PARAM: 1.5
PSO_INERTIA_WEIGHT: 0.7
PSO_INERTIA_REDUCTION_RATE: 0.99
INERTIA_SCHEDULE: LINEAR
NSGA2_CROSSOVER_RATE: 0.9
NSGA2_MUTATION_RATE: 0.1
NSGA2_ETA_C: 20
NSGA2_ETA_M: 20
DPE_TRAINING_CACHE: default
DPE_HIDDEN_DIMS:
- 256
- 128
- 64
DPE_TRAINING_SAMPLES: 500
DPE_VALIDATION_SAMPLES: 100
DPE_EPOCHS: 300
DPE_LEARNING_RATE: 1e-3
DPE_OPTIMIZATION_LR: 1e-2
DPE_OPTIMIZATION_STEPS: 200
DPE_OPTIMIZER: ADAM
DPE_OBJECTIVE_WEIGHTS:
  KGE: 1.0
DPE_EMULATOR_ITERATE: true
DPE_ITERATE_MAX_ITERATIONS: 5
DPE_ITERATE_SAMPLES_PER_CYCLE: 100
DPE_ITERATE_SAMPLING_RADIUS: 0.1
DPE_ITERATE_CONVERGENCE_TOL: 1e-4
DPE_ITERATE_MIN_IMPROVEMENT: 1e-6
DPE_ITERATE_SAMPLING_METHOD: gaussian
DPE_USE_NN_HEAD: true
DPE_PRETRAIN_NN_HEAD: false
DPE_USE_SUNDIALS: true
DPE_AUTODIFF_STEPS: 100
DPE_AUTODIFF_LR: 0.001
DPE_FD_STEP: 0.005
DPE_GD_STEP_SIZE: 0.1
LARGE_DOMAIN_EMULATION_ENABLED: true
EMULATOR_SETTING: SUMMA_AUTODIFF_FD
LARGE_DOMAIN_EMULATOR_MODE: SUMMA_AUTODIFF
LARGE_DOMAIN_EMULATOR_OPTIMIZER: Adam
LARGE_DOMAIN_TRAINING_EPOCHS: 100
LARGE_DOMAIN_PARAMETER_ENSEMBLE_SIZE: 1000
LARGE_DOMAIN_BATCH_SIZE: 32
LARGE_DOMAIN_VALIDATION_SPLIT: null
LARGE_DOMAIN_EMULATOR_PRETRAIN_NN_HEAD: true
LARGE_DOMAIN_EMULATOR_USE_NN_HEAD: true
LARGE_DOMAIN_EMULATOR_TRAINING_SAMPLES: 500
LARGE_DOMAIN_EMULATOR_EPOCHS: 50
LARGE_DOMAIN_EMULATOR_AUTODIFF_STEPS: 100
LARGE_DOMAIN_EMULATOR_STREAMFLOW_WEIGHT: 0.5
LARGE_DOMAIN_EMULATOR_SMAP_WEIGHT: 0.2
LARGE_DOMAIN_EMULATOR_GRACE_WEIGHT: 0.15
LARGE_DOMAIN_EMULATOR_MODIS_WEIGHT: 0.15
EMULATION_NUM_SAMPLES: 100
EMULATION_SEED: 22
EMULATION_SAMPLING_METHOD: lhs
EMULATION_PARALLEL_ENSEMBLE: false
EMULATION_MAX_PARALLEL_JOBS: 100
EMULATION_SKIP_MIZUROUTE: false
EMULATION_USE_ATTRIBUTES: false
EMULATION_MAX_ITERATIONS: 3
CATCHMENT_SHP_LAT: center_lat
CATCHMENT_SHP_LON: center_lon
CATCHMENT_SHP_AREA: HRU_area
CATCHMENT_SHP_HRUID: HRU_ID
CATCHMENT_SHP_GRUID: GRU_ID
CATCHMENT_PATH: default
CATCHMENT_SHP_NAME: default
RIVER_BASIN_SHP_RM_GRUID: GRU_ID
RIVER_BASIN_SHP_HRU_TO_SEG: gru_to_seg
RIVER_BASIN_SHP_AREA: GRU_area
RIVER_BASINS_PATH: default
RIVER_BASINS_NAME: default
RIVER_NETWORK_SHP_LENGTH: Length
RIVER_NETWORK_SHP_SEGID: LINKNO
RIVER_NETWORK_SHP_DOWNSEGID: DSLINKNO
RIVER_NETWORK_SHP_SLOPE: Slope
RIVER_NETWORK_SHP_PATH: default
RIVER_NETWORK_SHP_NAME: default
POUR_POINT_SHP_PATH: default
POUR_POINT_SHP_NAME: default
FORCING_PATH: default
OBSERVATIONS_PATH: default
STREAMFLOW_RAW_PATH: default
STREAMFLOW_RAW_NAME: default
STREAMFLOW_PROCESSED_PATH: default
HYDAT_PATH: default
SIMULATIONS_PATH: default
SETTINGS_HYPE_PATH: default
HYPE_INSTALL_PATH: default
SETTINGS_SUMMA_PATH: default
EXPERIMENT_OUTPUT_SUMMA: default
EXPERIMENT_LOG_SUMMA: default
SUMMA_INSTALL_PATH: default
SETTINGS_SUMMA_FILEMANAGER: fileManager.txt
SETTINGS_SUMMA_FORCING_LIST: forcingFileList.txt
SETTINGS_SUMMA_COLDSTATE: coldState.nc
SETTINGS_SUMMA_TRIALPARAMS: trialParams.nc
SETTINGS_SUMMA_ATTRIBUTES: attributes.nc
SETTINGS_SUMMA_OUTPUT: outputControl.txt
SETTINGS_SUMMA_BASIN_PARAMS_FILE: basinParamInfo.txt
SETTINGS_SUMMA_LOCAL_PARAMS_FILE: localParamInfo.txt
EXPERIMENT_LOG_MIZUROUTE: default
EXPERIMENT_OUTPUT_MIZUROUTE: default
INTERSECT_SOIL_PATH: default
INTERSECT_SOIL_NAME: default
INTERSECT_ROUTING_PATH: default
INTERSECT_ROUTING_NAME: default
INTERSECT_DEM_PATH: default
INTERSECT_DEM_NAME: default
INTERSECT_LAND_PATH: default
INTERSECT_LAND_NAME: default
OUTPUT_BASINS_PATH: default
OUTPUT_RIVERS_PATH: default
DEM_PATH: default
DEM_NAME: default
SOURCE_GEOFABRIC_BASINS_PATH: default
SOURCE_GEOFABRIC_RIVERS_PATH: default
TAUDEM_DIR: default
OUTPUT_DIR: default
CATCHMENT_PLOT_DIR: default
SOIL_CLASS_PATH: default
SOIL_CLASS_NAME: default
LAND_CLASS_PATH: default
LAND_CLASS_NAME: default
RADIATION_PATH: default
DATATOOL_PATH: default
GISTOOL_PATH: default
EASYMORE_CLIENT: easymore cli
DATATOOL_DATASET_ROOT: /path/to/meteorological-data/
DATATOOL_CACHE: /path/to/cache/dir
GISTOOL_DATASET_ROOT: /path/to/geospatial-data/
GISTOOL_LIB_PATH: /path/to/r-env/
TOOL_CACHE: /path/to/cache/dir
EASYMORE_CACHE: /path/to/cache/dir
EASYMORE_JOB_CONF: /path/to/esmr/job_config
CLUSTER_JSON: /path/to/cluster.json
