# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
examples/*/.ipynb_checkpoints/

# Virtual Environment
venv/
ENV/
env/
.env/
.venv/

# Ignore everything in 0_config_files
0_config_files/*


# But keep config_template.yaml
!0_config_files/config_template.yaml
!0_config_files/README.md


# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Model outputs and temporary files
*.log
*.err
*.pkl
temp/
logs/

# Distribution
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/*.nc
*.err
*.err
